#Ambrose Desmond MSC_DA_CA2

## Irelands Dairy sector analysis compared to the top EU producer and global producers.

In [36]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
import statistics as stats
from scipy.stats import poisson
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import r2_score
import warnings
from sklearn.feature_selection import RFE
import json
import requests
import time
# from faker import Factory,Faker
warnings.filterwarnings('ignore') # supress warnings

In [51]:
# Import the dairy csv as ddf
ddf = pd.read_csv("Intake of Cows Milk by Creameries and Pasteurisers.csv")

In [52]:
ddf.shape

(575, 4)

In [53]:
ddf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575 entries, 0 to 574
Data columns (total 4 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Unnamed: 0                                          575 non-null    object
 1   Intake of Cows Milk by Creameries and Pasteurisers  574 non-null    object
 2   Fat Content                                         514 non-null    float64
 3   Protein Content                                     514 non-null    float64
dtypes: float64(2), object(2)
memory usage: 18.1+ KB

In [54]:
ddf.head()

,Unnamed: 0,Intake of Cows Milk by Creameries and Pasteurisers,Fat Content,Protein Content
0,"Source: Central Statistics Office, Ireland.",NaN,NaN,NaN
1,1975 January,55.8,NaN,NaN
2,1975 February,84.4,NaN,NaN
3,1975 March,193.3,NaN,NaN
4,1975 April,327.5,NaN,NaN

In [56]:
# need to drop the first row as its not part of the actual data.
ddf.drop(index=ddf.index[0], axis=0, inplace=True)
# alternativaly i could have used ddf.iloc[1:] to select everything except the first row and 
# and store it in a new dataframe. here I chose to use the index 0 ( ie first line) the axis 0 indicates row
# and inplace = true performs the operation to the existing  dataframe. I chose this because It saves space to 
# edit the existing dataframe instead of creating new ones.

In [57]:
# formatt the data to give concise and meaningfull headings to the dataframe

ddf.columns = ['date','milk','fat','pro']
ddf.head()

            date   milk  fat  pro
1   1975 January   55.8  NaN  NaN
2  1975 February   84.4  NaN  NaN
3     1975 March  193.3  NaN  NaN
4     1975 April  327.5  NaN  NaN
5       1975 May  493.5  NaN  NaN